body {
    font: 16px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: rgba(0, 255, 251, 0.494);
  }
  
ol, ul {
    list-style-type: none;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.status {
    font-size: 5vh;
    font-weight: bold;
    margin-top: 5vh;
}

.game-board {
    margin-top: 7vh;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}
  
.square {
    background: #fff;
    border: 2px solid #999;
    float: left;
    font-size: 7vh;
    font-weight: bold;
    line-height: 100%;
    height: 11vh;
    width: 11vh;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
}
  
.square:focus {
    outline: none;
}

.game-info {
    margin-right: 40px;
}

.moves-history {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.move-button {
    width: 30vh;
    font-size: 2.5vh;
    padding: 10px 20px;
    border: 0;
    border-radius: 15px;
    background-color: #ffb700;
    color: black;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.start {
    width: 20vh;
    background-color: #ffb700;
}


/* winners field */

.winning {
    background: #ffffff;
    border: 0.7vh solid #ff0000;
    float: left;
    font-size: 7vh;
    font-weight: bold;
    line-height: 100%;
    width: 11vh;
    height: 11vh;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
}

.horizontal,
.vertical, 
.diagonal-l,
.diagonal-r {
    position: relative;
    display: block;
    width: 11vh;
    height: 11vh;
    font-size: 7vh;
    background-color: #ffffff;
}
    
.horizontal::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 46%;
    height: 0.4vh;
    background-color: #ff0000;
}
    
.vertical::after {
    content: '';
    position: absolute;
    left: -3%;
    right: 0;
    top: 50%;
    width: 106%;
    height: 0.4vh;
    background-color: #ff0000;
    transform: rotate(90deg);
}
    
.diagonal-r::after {
    content: '';
    position: absolute;
    left: -25%;
    right: 0;
    top: 48%;
    width: 150%;
    height: 0.4vh;
    background-color: #ff0000;
    transform: rotate(45deg);
}
    
.diagonal-l::after {
    content: '';
    position: absolute;
    left: -25%;
    right: 0;
    top: 48%;
    width: 150%;
    height: 0.4vh;
    background-color: #ff0000;
    transform: rotate(135deg);
}
  
.kbd-navigation .square:focus {
    background: #ddd;
}

#X {
    color: black;
}

#O {
    color: blue;
}