body {
    font: 16px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: #8fe0e6;
  }
  
ol, ul {
    list-style-type: none;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.name-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    font-weight: bold;
    margin-top: 2vh;
    width: 40vh;
    height: 15vh;
    background-color: #ffb700;
}

.status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    font-weight: bold;
    margin-top: 2vh;
    width: 40vh;
    height: 15vh;
    color: white;
}

.board-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vh;
    height: 100%;
    background-color: black;
}

.game-board {
    margin-top: 3vh;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}
  
.square {
    background: black;
    border: 2px solid #999;
    float: left;
    font-size: 7vh;
    font-weight: bold;
    line-height: 100%;
    height: 11vh;
    width: 11vh;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
}
  
.square:focus {
    outline: none;
}

.cell-0,
.cell-1,
.cell-2 {
    border-top: none;
}

.cell-0,
.cell-3,
.cell-6 {
    border-left: none;
}

.cell-2,
.cell-5,
.cell-8 {
    border-right: none;
}

.cell-6,
.cell-7,
.cell-8 {
    border-bottom: none;
}

.game-info {
    margin-right: 40px;
}

.moves-history {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.move-button {
    width: 30vh;
    font-size: 2.5vh;
    padding: 10px 20px;
    border: 0;
    border-radius: 15px;
    background-color: #ffb700;
    color: black;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.start {
    width: 20vh;
    background-color: #ffb700;
}


/* winners field */

.winning {
    background: black;
    /* border: 2px solid #999; */
    float: left;
    font-size: 7vh;
    font-weight: bold;
    line-height: 100%;
    width: 11vh;
    height: 11vh;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
}

.horizontal,
.vertical, 
.diagonal-l,
.diagonal-r {
    position: relative;
    display: block;
    background-color: black;
}    

.horizontal::after,
.vertical::after, 
.diagonal-l::after,
.diagonal-r::after {
    content: '';
    position: absolute;
    height: 0.2vh;
    background-color: #00eeff;
}

.horizontal::after {
    left: -2%;
    width: 104%;
    top: 47%;
}
    
.vertical::after {
    left: -2%;
    top: 49%;
    width: 103.9%;
    transform: rotate(90deg);
}
    
.diagonal-r::after {
    left: -24%;
    top: 48%;
    width: 147%;
    transform: rotate(45deg);
}
    
.diagonal-l::after {
    left: -22%;
    top: 48%;
    width: 146%;
    transform: rotate(135deg);
}
  
.square:hover {
    background: #333;
}

#X {
    color: white;
}

#O {
    color: white;
}

@media screen and (min-width: 1060px) {
    .name-info {
        width: 40vw;
    }

    .board-info {
        width: 40vw;
    }
}